<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <!--<script type="text/javascript" src="/static/d3/d3.v3.js"></script>-->
        <script type="text/javascript" src="/static/Chart.js"></script>
        <script type="text/javascript" src="/static/jquery-1.11.1.js"></script>
      	<script type="text/javascript" src="/static/finance.SDK.js"></script>
      	<!--<style type="text/css">
		D3
            div.bar {
              display: inline-block;
              width: 20px;
              height: 75px;	/* Gets overriden by D3-assigned height below */
              margin-right: 2px;
              background-color: teal;
            }
		
		</style>-->
	</head>
	<body>
		<!--
		D3
		<script type="text/javascript">
		
			var dataset = [  ];
			
			d3.select("body").selectAll("div")
				.data(dataset)
				.enter()
				.append("div")
				.attr("class", "bar")
				.style("height", function(d) {
					var barHeight = d * 5;
					return barHeight + "px";
				});
			
		</script>
		<div id="result" ></div>-->
		<div style="width:30%">
			<div>
				<canvas id="myChart" height="450" width="600"></canvas>
			</div>
		</div>
    </body>
    
</html>  